In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_moons
import numpy as np
from sklearn import preprocessing, cross_validation, neighbors
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
import pickle
from sklearn.tree import DecisionTreeClassifier

In [ ]:
df = pd.read_csv(r'C:/python36/credit/german.data.txt')
df.head()

In [15]:
col_names =['status','Duration','credit_history','purpose','credit_amount','savings_acc','employment_status','installment_rate','personal_status_and_sex','debtors','residence','property','age','other_installment','housing','existing_credits','job','liablity','telephone','foreign_worker','class']
df = pd.read_csv(r'C:/python36/credit/german.data.txt',sep=' ',names=col_names)
df.head()

,status,Duration,credit_history,purpose,credit_amount,savings_acc,employment_status,installment_rate,personal_status_and_sex,debtors,...,property,age,other_installment,housing,existing_credits,job,liablity,telephone,foreign_worker,class
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [16]:
dict_values = dict()
dict_values = {'A11':1,'A12':2,'A13':3,'A14':4,'A30':1,'A31':2,'A32':3,'A33':4,'A34':5,'A40':1,'A41':2,'A42':3,'A43':4
               ,'A44':5,'A45':6,'A46':7,'A47':8,'A48':9,'A49':10,'A410':11,'A61':1,'A62':2,'A63':3,'A64':4,'A65':5,
              'A71':1,'A72':2,'A73':3,'A74':4,'A75':5,'A91':1,'A92':2,'A93':3,'A94':4,'A95':5,'A101':1,'A102':2,'A103':3,
              'A121':1,'A122':2,'A123':3,'A124':4,'A141':1,'A142':2,'A143':3,'A151':1,'A152':2,'A153':3,'A171':1,'A172':2
               ,'A173':3,'A174':4,'A191':1,'A192':2,'A201':1,'A202':2
              }

In [17]:
for index,row in df.iterrows():
    rows = [row[0],row[2],row[3],row[5],row[6],row[8],row[9],row[11],row[13],row[14],row[16],row[18],row[19]]
    for i in rows:
          df = df.replace(str(i),dict_values[str(i)])

done

In [18]:
df.tail()

,status,Duration,credit_history,purpose,credit_amount,savings_acc,employment_status,installment_rate,personal_status_and_sex,debtors,...,property,age,other_installment,housing,existing_credits,job,liablity,telephone,foreign_worker,class
995,4,12,3,3,1736,1,4,3,2,1,...,1,31,3,2,1,2,1,1,1,1
996,1,30,3,2,3857,1,3,4,1,1,...,2,40,3,2,1,4,1,2,1,1
997,4,12,3,4,804,1,5,4,3,1,...,3,38,3,2,1,3,1,1,1,1
998,1,45,3,4,1845,1,3,4,3,1,...,4,23,3,3,1,3,1,2,1,2
999,2,45,5,2,4576,2,1,3,3,1,...,3,27,3,2,1,3,1,1,1,1

In [19]:
X = np.array(df.drop(['class'],1))
y = np.array(df['class'])

In [22]:
def randomforestclassifier(X,y):
    X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2,random_state=0)
    forest = RandomForestClassifier(n_estimators=100, random_state=0)
    forest.fit(X_train, y_train)
    print("accuracy on training set: %f" % forest.score(X_train, y_train))
    print("accuracy on test set: %f" % forest.score(X_test, y_test))
    filename = 'final_model.pkl'
    pickle.dump(forest,open(filename,'wb'))

In [23]:
randomforestclassifier(X,y)

accuracy on training set: 1.000000
accuracy on test set: 0.745000

In [24]:
def svc(X,y):
    X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2,random_state=0)
    linear_svm = LinearSVC().fit(X, y)
    print("accuracy on training set: %f" % linear_svm.score(X_train, y_train))
    print("accuracy on test set: %f" % linear_svm.score(X_test, y_test))

In [25]:
svc(X,y)

accuracy on training set: 0.700000
accuracy on test set: 0.710000

In [26]:
def logisticregression(X,y):
    X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2,random_state=0)
    logistic_regression = LogisticRegression().fit(X_train, y_train)
    print("accuracy on training set: %f" % logistic_regression.score(X_train, y_train))
    print("accuracy on test set: %f" % logistic_regression.score(X_test, y_test))

In [27]:
logisticregression(X,y)

accuracy on training set: 0.773750
accuracy on test set: 0.730000

In [28]:
def decisiontree(X,y):
    X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2,random_state=0)
    tree = DecisionTreeClassifier(random_state=0)
    tree.fit(X_train,y_train)
    print("accuracy on training set: %f" % tree.score(X_train, y_train))
    print("accuracy on test set: %f" % tree.score(X_test, y_test))

In [29]:
decisiontree(X,y)

accuracy on training set: 1.000000
accuracy on test set: 0.670000

In [51]:
def predictor(dicty):
    all_list = []
    all_list = dicty.values()
    pred = np.array(list(all_list))
    pred = pred.reshape(1,-1)
    with open('final_model.pkl', 'rb') as fid:
        forest = pickle.load(fid)
    
    predi = forest.predict(pred)
    
    if predi[0] == 1:
        result = "Good"
    else:
        result= "bad"
    print("Credit risk:"result)

In [52]:
def user():
    status = input("Enter Status of existing checking account(1.<0DM,2.<200Dm,3.>200Dm,4.no checing acc):")
    duration = input("Duration in Month:")
    credit = input("Enter credit history:(1.no credits,2.credits paid duly,3.existing credits paid duly,4.delay,5.critical acc)")
    purpose = input("Purpose:(1:car,2.car(used),3.furniture,4.radio,5.appliances,6.repairs,7.education,8.vacation,9.retraining,10.business,11.others)")
    credit_amt = input("Enter credit amount:")
    savings = input("Enter savings account/bonds:")
    employ = input("Enter employment years(0=unemployed):")
    install = input("Installment rate in % of disposable income:")
    sex = input("Enter personal status and sex:(1.male:divorced,2.female:divorced,3.male:single,4.male:married,5.female:single)")
    debt = input("Enter debtors:(1.none,2.co-applicant,3.guarantor)")
    resi = input("ENter present address since:(years)")
    properties = input("Enter property:(1.real estate,2.life insurance,3.car,4.no property)")
    age = input("Enter your age:")
    installment = input("Enter other installment plans:(1.bank,2.stores,3.none)")
    housing = input("Housing:(1.rent,2.own,3.for free)")
    credits = input("Enter no of existing credits:")
    job = input("Job:(1.unskilled-nonresident,2.unskilled-resident,3.skilled,4.self-employed)")
    liable = input("NO. of people liable:")
    telephone = input("telephone:(1.None,2:else)")
    foreign = input("Enter foreign worker:(1.yes,2.no)")
    all_dict = {'status':status,'duration':duration,'credit':credit,'purpose':purpose,'credit_amt':credit_amt,
               'savings':savings,'employ':employ,'install':install,'sex':sex,'debt':debt,'resi':resi,'properties':properties,
               'age':age,'installment':installment,'housing':housing,'credits':credits,'job':job,'liable':liable,'telephone':telephone,
               'foreign':foreign}
    predictor(all_dict)

In [53]:
user()

Enter Status of existing checking account(1.<0DM,2.<200Dm,3.>200Dm,4.no checing acc):1
Duration in Month:2
Enter credit history:(1.no credits,2.credits paid duly,3.existing credits paid duly,4.delay,5.critical acc)2
Purpose:(1:car,2.car(used),3.furniture,4.radio,5.appliances,6.repairs,7.education,8.vacation,9.retraining,10.business,11.others)2
Enter credit amount:1111
Enter savings account/bonds:2
Enter employment years(0=unemployed):3
Installment rate in % of disposable income:2
Enter personal status and sex:(1.male:divorced,2.female:divorced,3.male:single,4.male:married,5.female:single)1
Enter debtors:(1.none,2.co-applicant,3.guarantor)2
ENter present address since:(years)2
Enter property:(1.real estate,2.life insurance,3.car,4.no property)1
Enter your age:22
Enter other installment plans:(1.bank,2.stores,3.none)3
Housing:(1.rent,2.own,3.for free)2
Enter no of existing credits:3
Job:(1.unskilled-nonresident,2.unskilled-resident,3.skilled,4.self-employed)1
NO. of people liable:1
telephone:(1.None,2:else)2
Enter foreign worker:(1.yes,2.no)2
[1]
Good